/* style.css
   Chris Peabody
   Living Arcade */

body {
	background: black;
	color: white;
}

.titlebox {
	width: 80%;
	min-width: 800px;
	height: 10%;
	min-height: 100px;
	margin: 4% auto;
	margin-top: 0%;
	margin-bottom: 1%;

	font: Impact;
	font-size: 40px;
	text-align: center;
}

.wrapper {
	width: 60%;
	min-width: 800px;
	margin: 4% auto;
	margin-top: 0%;

	position: relative;
	display: block;
}

.wrapper:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
	overflow: hidden;
}

.ads {
	width: 15%;
	height: 100%;
	padding: 2%;
	margin-right: 1%;

	position: absolute;
	display: block;
	float: left;
	
	background: #202020;
}

.mainSection {
	width: 76%;
	padding: 2%;

	position: relative;
	display: block;
	float: right;
	
	background: #101010;
}

.content {
	padding: 5px;

	position: relative;

	border: 1px solid red;
	overflow: hidden;
}

#news {
	height: 150px;
}
